pkgbase = synapse-shortcuts
	pkgdesc = C17 shortcut catalogue and opaque trusted-action dispatcher
	pkgver = 0.2.0.alpha4
	pkgrel = 4
	url = https://github.com/synapse-linux/synapse-shortcuts
	arch = x86_64
	license = MIT
	checkdepends = python
	checkdepends = bash
	makedepends = gcc
	makedepends = make
	makedepends = pkgconf
	depends = glibc
	depends = libsynapse-core
	optdepends = synapse-hyprland: compositor actions
	optdepends = synapse-quickshell: presentation actions
	optdepends = synapse-workspaces: topology actions
	optdepends = synapse-files: file manager action
	optdepends = foot: terminal actions
	optdepends = brightnessctl: backlight actions
	optdepends = wireplumber: audio actions
	optdepends = playerctl: media actions
	options = !lto
	options = !debug
	source = synapse-shortcuts-65863aa948977c4dad4fe90a2924f1d6f6d96b34.tar.gz::https://codeload.github.com/synapse-linux/synapse-shortcuts/tar.gz/65863aa948977c4dad4fe90a2924f1d6f6d96b34
	sha256sums = 658cda56a955a966bcc98e4ae9661ac6d7bb8514aa68cff554ad766c472f05b7

pkgname = synapse-shortcuts
