pkgbase = synapse-surface
	pkgdesc = C17 replaceable desktop drawer and layer-shell host
	pkgver = 0.1.0.alpha6
	pkgrel = 2
	url = https://github.com/synapse-linux/synapse-surface
	arch = x86_64
	license = MIT
	checkdepends = python
	checkdepends = bash
	makedepends = gcc
	makedepends = make
	makedepends = pkgconf
	depends = glibc
	depends = libsynapse-core
	depends = json-c
	depends = glib2
	depends = gtk3
	depends = vte3
	depends = gtk-layer-shell
	optdepends = herdr-bin: selected replaceable terminal provider
	optdepends = synapse-workspaces: workspace overview delegation
	optdepends = synapse-hyprland: native layer-shell presentation
	options = !lto
	options = !debug
	source = synapse-surface-a2822823b1c2153b36f9326fc8bbadcfe10a1a0c.tar.gz::https://codeload.github.com/synapse-linux/synapse-surface/tar.gz/a2822823b1c2153b36f9326fc8bbadcfe10a1a0c
	sha256sums = eda8c51fa9e4bd8c5ea2674799b9a324358ae271a026f7be397be5c9aead50e9

pkgname = synapse-surface
