pkgbase = synapse-editor
	pkgdesc = Lossless Editor-owned Markdown mutation provider for Synapse
	pkgver = 0.1.0.alpha5
	pkgrel = 1
	url = https://github.com/synapse-linux/synapse-editor
	arch = x86_64
	license = MIT
	checkdepends = python
	makedepends = gcc
	makedepends = make
	makedepends = pkgconf
	depends = glibc
	depends = json-c
	depends = openssl
	options = !lto
	options = !debug
	source = synapse-editor-3ad53783a198f759043026344905fa02cd126939.tar.gz::https://codeload.github.com/synapse-linux/synapse-editor/tar.gz/3ad53783a198f759043026344905fa02cd126939
	sha256sums = 491a7503206400155dfab43aa018264808df1c1fb770a63d850e9bf8c0c88dbd

pkgname = synapse-editor
