pkgbase = synapse-chart
	pkgdesc = Bounded C4 and Knowledge graph compiler with native terminal viewer
	pkgver = 0.1.0.alpha1
	pkgrel = 4
	url = https://github.com/synapse-linux/synapse-chart
	arch = x86_64
	license = MIT
	checkdepends = python
	checkdepends = nodejs
	checkdepends = desktop-file-utils
	checkdepends = libxml2
	checkdepends = util-linux
	makedepends = gcc
	makedepends = make
	makedepends = pkgconf
	depends = glibc
	depends = libsynapse-core
	depends = json-c
	depends = libarchive
	depends = openssl
	depends = ncurses
	depends = xdg-utils
	optdepends = foot: desktop native TUI launch
	optdepends = firefox: optional graphical interactive HTML viewing
	options = !lto
	options = !debug
	source = synapse-chart-2389a71a5530df966d9cdd871658d878a148fe21.tar.gz::https://codeload.github.com/synapse-linux/synapse-chart/tar.gz/2389a71a5530df966d9cdd871658d878a148fe21
	sha256sums = 13524eeedd25445aa38ad705adaee8097ee8d92a81b1327c4831130d58120299

pkgname = synapse-chart
