pkgbase = synapse-hyprland
	pkgdesc = Synapse-maintained Hyprland with bounded monitor render resources
	pkgver = 0.56.2.synapse1
	pkgrel = 1
	url = https://github.com/synapse-linux/synapse-hyprland
	arch = x86_64
	license = BSD-3-Clause
	makedepends = cmake
	makedepends = glaze
	makedepends = hyprland-protocols
	makedepends = meson
	makedepends = ninja
	makedepends = xorgproto
	depends = cairo
	depends = aquamarine
	depends = libgcc
	depends = libstdc++
	depends = glibc
	depends = glib2
	depends = glslang
	depends = hyprcursor
	depends = hyprgraphics
	depends = hyprland-guiutils
	depends = hyprlang
	depends = hyprutils
	depends = hyprwayland-scanner
	depends = hyprwire
	depends = lcms2
	depends = libdrm
	depends = libglvnd
	depends = libinput
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrender
	depends = lua
	depends = mesa
	depends = muparser
	depends = opengl-driver
	depends = pango
	depends = pixman
	depends = re2
	depends = tomlplusplus
	depends = util-linux-libs
	depends = wayland
	depends = wayland-protocols
	depends = xcb-proto
	depends = xcb-util
	depends = xcb-util-errors
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = xorg-xwayland
	optdepends = cmake: to build and install plugins using hyprpm
	optdepends = cpio: to build and install plugins using hyprpm
	optdepends = glaze: to build and install plugins using hyprpm
	optdepends = hyprland-protocols: to build and install plugins using hyprpm
	optdepends = hyprshutdown: clean logout and shutdown helper
	optdepends = meson: to build and install plugins using hyprpm
	optdepends = uwsm: an advanced way to start desktop compositors as systemd units
	optdepends = xdg-desktop-portal-hyprland: xdg-desktop-portal backend for hyprland
	provides = hyprland=0.56.2
	provides = wayland-compositor
	conflicts = hyprland
	options = !lto
	options = !debug
	source = synapse-hyprland-f8504d06631de232571eb5859ac72bb860bd6b73.tar.gz::https://codeload.github.com/synapse-linux/synapse-hyprland/tar.gz/f8504d06631de232571eb5859ac72bb860bd6b73
	sha256sums = a5c722a17519cbc017028cb8dc6e89b6475059a6db1f8f1ca34a2ff61c9d6251

pkgname = synapse-hyprland
