pkgbase = synapse-doc
	pkgdesc = Bounded console-first Markdown semantic parser and viewer
	pkgver = 0.1.0.alpha3
	pkgrel = 1
	url = https://github.com/synapse-linux/synapse-doc
	arch = x86_64
	license = MIT
	checkdepends = python
	checkdepends = nodejs
	checkdepends = util-linux
	checkdepends = desktop-file-utils
	makedepends = gcc
	makedepends = make
	makedepends = pkgconf
	depends = glibc
	depends = libsynapse-core
	depends = json-c
	depends = openssl
	depends = ncurses
	optdepends = foot: graphical terminal launch
	options = !lto
	options = !debug
	source = synapse-doc-16ada585fd8a92d66e2f55dde45dd0b49eaad767.tar.gz::https://codeload.github.com/synapse-linux/synapse-doc/tar.gz/16ada585fd8a92d66e2f55dde45dd0b49eaad767
	sha256sums = 9aeb0226fb6fa8fbd02200e2ccda6e3c71e768df2bea41877a26e47e68f25597

pkgname = synapse-doc
