pkgbase = synapse-quickshell
	pkgdesc = Quickshell with process-scoped THP and software scene-graph policies
	pkgver = 0.3.1.synapse1
	pkgrel = 1
	url = https://github.com/synapse-linux/synapse-quickshell
	arch = x86_64
	license = LGPL-3.0-only
	makedepends = cli11
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-shadertools
	makedepends = spirv-tools
	makedepends = vulkan-headers
	makedepends = wayland-protocols
	depends = cpptrace
	depends = glibc
	depends = hicolor-icon-theme
	depends = jemalloc
	depends = libdrm
	depends = libgcc
	depends = libglvnd
	depends = libpipewire
	depends = libstdc++
	depends = libxcb
	depends = mesa
	depends = pam
	depends = polkit
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = qt6-wayland
	depends = wayland
	provides = quickshell=0.3.1
	conflicts = quickshell
	options = !lto
	options = !debug
	source = synapse-quickshell-0a3ff09ccda6ae4d4c50ecacea8df000f6bddf0c.tar.gz::https://codeload.github.com/synapse-linux/synapse-quickshell/tar.gz/0a3ff09ccda6ae4d4c50ecacea8df000f6bddf0c
	sha256sums = e070a793e89111f458867ca8f43c1f550a3c8d1c0354d2b9a89481305b2ef032

pkgname = synapse-quickshell
