pkgbase = synapse-knowledge-gui
	pkgdesc = Standalone Qt 6 client for Synapse Knowledge providers
	pkgver = 0.1.0.alpha6
	pkgrel = 1
	url = https://github.com/synapse-linux/synapse-knowledge-gui
	arch = x86_64
	license = MIT
	checkdepends = util-linux
	makedepends = gcc
	makedepends = make
	makedepends = pkgconf
	makedepends = python
	makedepends = qt6-tools
	depends = glibc
	depends = gcc-libs
	depends = qt6-base
	depends = synapse-knowledge
	depends = synapse-editor
	depends = synapse-doc
	depends = synapse-chart
	options = !lto
	options = !debug
	source = synapse-knowledge-gui-a653be22a7a23defe9d76f67317f90304402cc31.tar.gz::https://codeload.github.com/synapse-linux/synapse-knowledge-gui/tar.gz/a653be22a7a23defe9d76f67317f90304402cc31
	sha256sums = d75e9b258e0217596c3a28581766ba0cd3571f9043cfe530827be0754769185d

pkgname = synapse-knowledge-gui
